
.navbar{
  margin:0;
  background-color: #FFF;
  border-bottom: 1px solid #CBCBCB;
}
.row{
  margin: auto;
  display: flex;
  flex-direction: row;
}
.column{
  margin:auto;
  display: flex;
  flex-direction: column;
}
.contain{
  margin: auto;
  margin-left: 80px;
  justify-content: flex-start;
}
.bar, .search{margin-left:10px;padding-left: 0}
.login{
  margin:auto;
  width:120px;
  display: flex;
  justify-content: space-between;
  padding:5px 10px;
}
.logo, .search{margin:auto 0;margin-top: 0;padding-top: 5px;}
.logo img{
  width: 80px;height:24px;
}
.ul-link{
  list-style-type: none;
  margin:0;
  padding:0;
  padding-left: 0;
  overflow: hidden;
}
.ul-link li{
  padding: 5px 10px;
  margin: 0;
}
.bar{
  font-family: sans-serif;
  color:#363636;
  font-size: 14px;
  font-weight: bold;
}
.link{
  text-decoration: none;
  color:#363636;
}
.link:hover{text-decoration: underline;color:#1B7FA0}
.R-border{
    border-right: 1px solid #ccc;
}
.L-border{
  border-left:1px solid #ccc
}
.LR-border{border-left:1px solid #ccc; border-right:1px solid #ccc}
.search{
  background-color: #E3E3E3;
  margin-left: 10px;
  padding:5px;
}
.search input{
  background:#E3E3E3;
  border: none;
  width:80px;
}
.search input::placeholder{
  color:black;
  font-weight: bold;
}
.ul-link li:hover, .login:hover{
  border-bottom: 4px solid #262626;
}
#login:hover{border-bottom: 4px solid #1987BA}
#shop:hover{
  border-bottom: 4px solid #2C96E5;
}
#news:hover{
  border-bottom: 4px solid #982817;
}
#sport:hover{
  border-bottom: 4px solid #FFD132;
}
#weather:hover{
  border-bottom: 4px solid #87CBEE;
}
#home{border-bottom: 4px solid #FFF}
.dropdown-content{
  display: none;
  margin:auto;
  padding-top: 20px;
  margin-left:80px;
}
.dropdown-content h2{position: absolute;margin:auto; display: inline;}
.show{display: block;}
.dropdown-content ul{
  margin: auto;
  width:60%;
  flex-wrap: wrap;
}
.dropdown-content ul li{
  margin:auto;
  width:20%;
  font-weight: bold;
  color: #000;
}
.dropdown-content ul li:hover{
  background: #333;
  color: #fff;
  border: none;
}

.red{
  background-color: #B9201E;
  margin:0 -8px 0 -10px;
  color:#FFF;
}
.red h2{
  font-size: 48px;
  margin: 0;
  margin-left: 10px;
}
.red ul li{ border-right: 1px solid #bb454f;}
.red ul li a{color: #FFF;}
.red ul li:hover{border-bottom: 4px solid #FFF}
.story{
  margin-left: 0;
  margin-right: 0;
  justify-content: flex-start;
  width:30%;
}
.story h3{font-size: 28px}
.head-news img{width:70%;}
.head-news{margin-left:0;}
.clock{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color:#5a5a5a;
  font-family: Helvetica,Arial,sans-serif;
  font-size:15px;
}
.clock li{
  margin-right: 6px;
  margin-top: 4px;
  padding-right: 6px;
}
.clock a{
  color: #242424;
  text-decoration: none;
}
.clock .with-line{
    float: left;
    border-right:1px solid #dbdbdb;
    display: block;
}
.ul-style{
  margin-left: 0;
  padding:20px 0;
}
.ul-style li{margin:10px; font-weight: bold;}
.news-contain{width:60%;margin-left: 0; border-bottom: 1px solid #dbdbdb}
.post{
  margin-left: 0;
  margin-top: 0;
  justify-content: flex-start;
  width:20%;
}
.post p{color:#7e7d7d;}
.post-container{margin-top:20px;}
.img-heading{
  width:250px;
  height:300px;
  background-position: bottom;
  background-size: cover;
  background-image: url(http://hdlatestwallpaper.com/wp-content/uploads/2014/05/army-guns.jpg);
}
.img-heading a{
      margin: auto;
      margin-top: 100px;
      color: #FFF;
      font-size: 25px;
      padding: 10px;
      text-align: center;
      display: flex;
      flex-direction: column;
      text-decoration: none;
}
.img-heading hr{width:30%;border:2px solid #e26645}
.group-border{border-top: 1px solid #dbdbdb; margin:0 0 0 20px;}
.centerd-line{
  width:75%;
  margin:auto;
  justify-content: center;
  height:1px;
  border-bottom: 1px solid #7B756F;
}
.most-container{
  margin:0;
}
.num-list{width:45%;margin-left: 0;margin-top:0;}
.num-list h1{color:#BC2927;font-size: 48px; margin:0;}
.num-list a{margin:auto;}
.num-list a h2{font-size:22px;}
.num-list span{margin: auto;}

.big-img{
  width:45%;
}
.big-img img{width:100%;}
.base{
  margin:auto;
  margin-left:0;
  width:100px;
  height:100px;
  margin-left: 0;
  background-size: 45px;
  background-position: center;
  background-repeat: no-repeat;
}

.twitter{
  background-image: url(http://www.freeiconspng.com/uploads/twitter-icon-download-18.png);
}

.twitter:hover{
  background-image: url(https://cdn1.iconfinder.com/data/icons/logotypes/32/square-twitter-128.png);
  background-size: 100px;
}

.facebook{
  background-image: url(http://www.iconsdb.com/icons/preview/navy-blue/facebook-xxl.png);
}

.facebook:hover{
  background-size: 100px;
  background-image: url(https://cdn1.iconfinder.com/data/icons/logotypes/32/square-facebook-256.png);
}
.instagram{
  background-image: url(https://cdn2.iconfinder.com/data/icons/instagram-new/512/instagram-logo-color-512.png)
}
.instagram:hover{
  background-size: 100px;
  background-color: #000;
}
.info{margin-left: 20px}
.info h3{font-size: 20px;}
.info ul {font-size:25px;}
.info-p{flex-wrap: wrap; justify-content: space-around;width:90%}
.info-p p{width:45%;}

.information{
  width:100%;
  background-color: #4c4c4c;
  color: #fff;
  padding-top:20px;
  margin:0 -8px 0 -10px;

}
.information ul{width:30%;}
.information ul li:hover{text-decoration: underline;border:none;}


@media screen and (max-width:620px) {
  .xs-hide{display:none}
  .xs-larger{width:45%;}
  .ul-link .xs-larger{padding:15px 10px}
  #home{border-bottom:none;background-color:#900}
  .login, .search{width: auto;}
  .navbar-contain{margin-left: 0;}
  .dropdown-content{margin-left: 10px;}
  .contain{margin-left: 20px}
  .news-contain{width: auto}
  .story{width:100%;}
  .story h3{margin: 0 auto;}
  .story p{margin: 0 auto;}
  .xs-row{flex-direction: row}
  .xs-col{flex-direction: column;}
  .post{width:auto; margin:20px 0}
  .post img{width:50%;}
  .post figcaption{padding-left: 5px}
  .xs-width{width: 100%;}
  .big-img img{width:95%;}
  .info-p p{width:auto;}
  .information{margin:auto;}
  .head-news img{width:auto;}

}
@media screen and (min-width:620px) and (max-width:768px){
  .md-col{flex-direction: column;}
  .md-hide{display: none}
  .login, .search{width: auto;}
  .navbar-contain{margin-left: 10px;}
  .dropdown-content{margin-left: 10px;}
  .contain{margin-left: 20px}
  .story{width: 100%;}
}
